header.css-vjwxce.ezrtsby2 {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2.875rem;
    background: #04591C;
    outline: none;
    z-index: 999990;
    display: block;
}

/*  */

.css-5rimss p {
    color: rgb(250, 250, 250);
}
div.css-1629p8f.e1nzilvr1 {
    color: rgb(250, 250, 250);
}
.css-10trblm.e1nzilvr0 {
    color: rgb(250, 250, 250);
}
div.css-5rimss.e1nzilvr4 {
    color: rgb(250, 250, 250);
}

.css-r421ms {
    outline: white;
    color: rgb(250, 250, 250);
    border: 1px solid rgba(99, 180, 99, 0.2);
}

.css-16idsys p {
    color: rgb(250, 250, 250);
}

.css-1mrdis4 {
    color: rgb(250, 250, 250);
}

.css-1mrdis4 p {
    color: rgb(250, 250, 250);
}

.css-7ym5gk.ef3psqc6 {
    color: black;
}

.css-35ezg3 {
    color: rgb(250, 250, 250);
}

.css-5rimss a {
    color: orange
}

.css-18ni7ap {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2.875rem;
    background: #04591C;
    outline: none;
    z-index: 999990;
    display: block;
    color: rgb(250, 250, 250);
}

header.css-1avcm0n.ezrtsby2 {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2.875rem;
    background: #04591C;
    outline: none;
    z-index: 999990;
    display: block;
}

div.stApp.stAppEmbeddingId-ryecfwc42r6e.css-10duyv2.erw9t6i1
{
    position: absolute;
    background: #04591C;
    color: #04591C;
    inset: 0px;
    /* overflow: hidden; */
}

div.stChatFloatingInputContainer.css-qvrvww.e1d2x3se2
{
    position: fixed;
    bottom: 0px;
    padding-bottom: 70px;
    padding-top: 1rem;
    background-color: #04591C;
    z-index: 99;
}

.css-v309zb {
    font-size: 3rem;
}

section.main.css-uf99v8.ea3mdgi5
{
    position: absolute;
    background: #04591C;
    color: rgb(250, 250, 250);
    inset: 0px;
    overflow: hidden;
}

body
{
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: rgb(250, 250, 250);
    background-color: #04591C;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: auto;

}

div.css-1dp5vir{
    background-image: none;
}

div.block-container.css-1y4p8pa
{
    width: 100%;
    padding: 2rem 1rem 10rem;
    max-width: 60rem;
    

}

div.stChatFloatingInputContainer.css-usj992.e1d2x3se2
{
    position: fixed;
    bottom: 0px;
    padding-bottom: 70px;
    padding-top: 1rem;
    background-color: #04591C;
    z-index: 99;

}